@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.about{
    display: flex;
    justify-content: center;

}

.headline {
    font-family: 'Inter', sans-serif;
    font-size: 3.9rem;
    width: 45%;
   margin-top: 15rem;
   line-height: 5rem;
   text-align: center;
}