@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 4.5rem;
  
}
.navbar .logo {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    font-family: 'Sono', sans-serif;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.nav-links li {
    position: relative;
}

.nav-links li:before {
    content: '[   ';
    position: absolute;
    left: -20px; /* adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.nav-links li:hover:before {
    opacity: 1;
}

.nav-links li:after {
    content: '   ]';
    position: absolute;
    right: -20px; /* adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.nav-links li:hover:after {
    opacity: 1;
}